const API_BASE_URI = 'http://docker.vm/graphql/';

const Config = {
    LOGIN_URI: API_BASE_URI + '',
    LOGOUT_URI: API_BASE_URI + '',
    // Token cookie name
    COOKIE_NAME: 'PCGQLC',
    PRODUCT_URI: API_BASE_URI + ''
}
export { API_BASE_URI, Config };
